body{
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: lightgreen;
    font-family: cursive;
}

.form{
    margin: 10px;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;   
}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    color: green;
    border: solid 4px green;
    border-radius: 10px;
}

.input::placeholder{
    color: lightgray;
    font-family: cursive;
}

.btn{
    background-color: green;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.btn:hover{
    filter: brightness(.9);
}

.score{
    color: green;
    text-align: right;
}